In [1]:
import pandas as pd

In [6]:
ls

Untitled.ipynb     Xtrain.csv         dataset_info.docx
Xtest.csv          Ytrain.csv         sample_output.csv

In [13]:
x_train = pd.read_csv('Xtrain.csv', index_col='Id')
y_train = pd.read_csv('Ytrain.csv', index_col='Id')

In [22]:
x_train.head()

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,BalanceGross,GrAppv,SBA_Appv
Id,,,,,,,,,,,,,,,,,,,,,
0,"NPE Realty, LLC",Pembroke Pines,FL,33027,"TD BANK, NATIONAL ASSOCIATION",DE,334516,16-Apr-10,2010,130,...,0,0,1,N,N,1-May-10,"$2,000,000.00",$0.00,"$2,000,000.00","$1,500,000.00"
1,"KEVCO CONSTRUCTION, LLC",SANDY,UT,84094,ZIONS FIRST NATIONAL BANK,UT,236115,30-Jan-10,2010,33,...,3,0,1,N,N,1-Feb-10,"$17,000.00",$0.00,"$17,000.00","$17,000.00"
2,EAST L A SHOE REPAIR,LOS ANGELES,CA,90022,BANK OF AMERICA NATL ASSOC,NC,811430,29-Jul-02,2002,60,...,1,1,1,Y,N,31-Aug-02,"$17,000.00",$0.00,"$17,000.00","$8,500.00"
3,"RUSSLER, DANIEL C, MD",LODI,WI,53555,ASSOCIATED BANK NATL ASSOC,WI,0,10-Jun-94,1994,160,...,0,1,0,N,N,31-Jul-94,"$137,000.00",$0.00,"$137,000.00","$123,300.00"
4,AFFORDABLE FAMILY DENISTRY LLC,LEBANON,MO,65536,COMMERCE BANK,MO,621210,6-Feb-06,2006,101,...,2,1,1,T,N,31-Mar-06,"$46,665.00",$0.00,"$25,000.00","$12,500.00"

In [19]:
to_dict = lambda d : dict(zip(d, range(len(d))))
to_dict_reverse = lambda d : dict(enumerate(d))

In [71]:
bank_naics_mapping = zip(x_train['Bank'], x_train['NAICS'])

In [72]:
repeat = {}
for b, n in bank_naics_mapping:
    if n not in repeat:
        repeat[n] = set()
    repeat[n].add(b)

In [43]:
import numpy as np
np.round(p)

array([1., 1.])

In [76]:
x_train.columns

Index(['Name', 'City', 'State', 'Zip', 'Bank', 'BankState', 'NAICS',
       'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob',
       'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr', 'LowDoc',
       'DisbursementDate', 'DisbursementGross', 'BalanceGross', 'GrAppv',
       'SBA_Appv'],
      dtype='object')

In [77]:
value_mapping = {}
for name in ['Name', 'City', 'State', 'Zip', 'Bank', 'BankState', 'NAICS', 'RevLineCr', 'LowDoc']:
    value_mapping[name] = to_dict(set(x_train[name]))