In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectKBest
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
!pip3 install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.8/site-packages (1.2.0)
Requirement already satisfied: numpy in /Users/tuongvan.nguyen/Library/Python/3.8/lib/python/site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in /Users/tuongvan.nguyen/Library/Python/3.8/lib/python/site-packages (from xgboost) (1.5.2)

In [3]:
pd.set_option('display.max_rows', 100)
df_x = pd.read_csv(r'/Users/tuongvan.nguyen/Documents/CS5228/cs5228-2021s1/Xtrain.csv',index_col='Id')
df_y = pd.read_csv(r'/Users/tuongvan.nguyen/Documents/CS5228/cs5228-2021s1/Ytrain.csv',index_col='Id')
# Load the SBA loan data and make a copy for exploration

df = pd.concat([df_x,df_y],axis=1)
df_used = df.copy(deep=True)
print("Shape of dataframe {}".format(df_used.shape))
print(df_used.columns)
df_used

Shape of dataframe (50000, 24)
Index(['Name', 'City', 'State', 'Zip', 'Bank', 'BankState', 'NAICS',
       'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob',
       'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr', 'LowDoc',
       'DisbursementDate', 'DisbursementGross', 'BalanceGross', 'GrAppv',
       'SBA_Appv', 'ChargeOff'],
      dtype='object')

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,ChargeOff
Id,,,,,,,,,,,,,,,,,,,,,
0,"NPE Realty, LLC",Pembroke Pines,FL,33027,"TD BANK, NATIONAL ASSOCIATION",DE,334516,16-Apr-10,2010,130,...,0,1,N,N,1-May-10,"$2,000,000.00",$0.00,"$2,000,000.00","$1,500,000.00",0
1,"KEVCO CONSTRUCTION, LLC",SANDY,UT,84094,ZIONS FIRST NATIONAL BANK,UT,236115,30-Jan-10,2010,33,...,0,1,N,N,1-Feb-10,"$17,000.00",$0.00,"$17,000.00","$17,000.00",1
2,EAST L A SHOE REPAIR,LOS ANGELES,CA,90022,BANK OF AMERICA NATL ASSOC,NC,811430,29-Jul-02,2002,60,...,1,1,Y,N,31-Aug-02,"$17,000.00",$0.00,"$17,000.00","$8,500.00",0
3,"RUSSLER, DANIEL C, MD",LODI,WI,53555,ASSOCIATED BANK NATL ASSOC,WI,0,10-Jun-94,1994,160,...,1,0,N,N,31-Jul-94,"$137,000.00",$0.00,"$137,000.00","$123,300.00",0
4,AFFORDABLE FAMILY DENISTRY LLC,LEBANON,MO,65536,COMMERCE BANK,MO,621210,6-Feb-06,2006,101,...,1,1,T,N,31-Mar-06,"$46,665.00",$0.00,"$25,000.00","$12,500.00",0
5,COPPER COIN DISCOUNT LIQUOR,PAGOSA SPRINGS,CO,81147,FIRST SOUTHWEST BANK,CO,445310,17-Jan-08,2008,272,...,1,2,0,N,31-May-08,"$400,000.00",$0.00,"$500,000.00","$375,000.00",1
6,NICHOLAS MIRABELLA AND PAUL ST,LAS VEGAS,NV,89116,WELLS FARGO BANK NATL ASSOC,SD,811310,6-Sep-02,2002,300,...,1,1,0,N,31-Oct-02,"$275,000.00",$0.00,"$275,000.00","$206,250.00",0
7,SA SA LLC,ELLICOTT CITY,MD,21043,HOWARD BANK,MD,423940,15-Jan-10,2010,106,...,0,2,N,N,1-Feb-10,"$75,000.00",$0.00,"$75,000.00","$67,500.00",1
8,MICHAEL D CAIN & JANET H CAIN,CONCORD,CA,94518,BANK OF AMERICA NATL ASSOC,NY,621210,2-Dec-99,2000,300,...,1,1,0,N,31-Dec-99,"$699,300.00",$0.00,"$699,300.00","$524,475.00",0
9,Hoke Trucking Ltd.,Acranum,OH,45304,CALIFORNIA BANK & TRUST,CA,484121,19-Jan-07,2007,10,...,0,2,N,N,31-Jan-07,"$100,000.00",$0.00,"$100,000.00","$50,000.00",1
10,Yoesel Construction LLC,COLORADO SPRINGS,CO,80925,U.S. BANK NATIONAL ASSOCIATION,OH,238350,8-Nov-06,2007,84,...,0,1,Y,N,30-Sep-08,"$29,262.00",$0.00,"$25,000.00","$12,500.00",0
11,"LEMDIS, LLC DBA DIDOUGHS PRETZ",LUFKIN,TX,75901,CAPITAL ONE NATL ASSOC,VA,722213,24-Oct-06,2007,84,...,0,1,N,N,30-Nov-06,"$25,000.00",$0.00,"$25,000.00","$12,500.00",0
12,"Lighthouse Entertainment, LLC",POMPANO BEACH,FL,33064,BANK OF AMERICA NATL ASSOC,NC,512110,8-Nov-04,2005,50,...,1,1,N,N,31-Dec-04,"$25,000.00",$0.00,"$25,000.00","$12,500.00",1
13,BASKIN ROBBINS,ALEXANDRIA,VA,22310,VALLEY NATIONAL BANK,NJ,445299,1-Feb-01,2001,97,...,9050,1,0,N,31-May-01,"$240,000.00",$0.00,"$240,000.00","$180,000.00",1
14,"MOTHER EARTH PET STORE, INC.",OVERLAND PARK,KS,66212,MAZUMA CU,MO,453910,2-May-11,2011,13,...,0,1,Y,N,2-May-11,"$38,317.00",$0.00,"$25,000.00","$12,500.00",1
15,TRIANGLE INC,MALDEN,MA,2148,EASTERN BANK,MA,624310,13-Mar-96,1996,120,...,1,0,N,N,31-Jul-96,"$100,000.00",$0.00,"$100,000.00","$80,000.00",0
16,DONUTLAND C/O JJRC CORP.,ALTOONA,IA,50009,U.S. BANK NATIONAL ASSOCIATION,IA,0,13-Feb-84,1984,84,...,25035,0,N,N,2-Mar-84,"$90,000.00",$0.00,"$90,000.00","$81,000.00",1
17,"KOOL VIEW CO., INC.",MCFARLAND,WI,53558,WISCONSIN BUS. DEVEL FINAN COR,WI,444190,4-Mar-04,2004,240,...,1,2,N,N,16-Jun-04,"$459,000.00",$0.00,"$459,000.00","$459,000.00",0
18,A PLACE OF CHOICE,HOUSTON,TX,77025,WELLS FARGO BANK NATL ASSOC,TX,448130,27-Sep-89,1989,64,...,1,0,N,N,19-Oct-89,"$45,000.00",$0.00,"$45,000.00","$40,500.00",0
19,VULCAN FORGE AND MACHINE CO OF,SAN JOSE,CA,95112,COMERICA BANK,TX,331522,15-Mar-01,2001,25,...,1,1,0,N,30-Apr-01,"$350,000.00",$0.00,"$350,000.00","$262,500.00",1
20,"LIST MANAGEMENT CONSULTANTS, I",PALM HARBOR,FL,34683,CAPITAL ONE NATL ASSOC,VA,541860,4-May-06,2006,54,...,0,1,N,N,31-May-06,"$50,000.00",$0.00,"$50,000.00","$25,000.00",1
21,VELOCITY WORKS INC,SAVANNAH,GA,31401,BANK OF AMERICA NATL ASSOC,NC,514191,27-Jun-02,2002,84,...,1,1,Y,N,31-Jul-02,"$15,000.00",$0.00,"$15,000.00","$7,500.00",0
22,VA PROPERTY MANAGEMENT,PORT ORCHARD,WA,98366,KITSAP BANK,WA,531110,18-Aug-99,1999,58,...,1,1,Y,N,30-Nov-00,"$105,318.00",$0.00,"$40,000.00","$20,000.00",0
23,"Beach Brew, Inc. d/b/a CoffeeW",Sugar Land,TX,77479,FROST BANK,TX,722213,23-Feb-06,2006,62,...,0,1,N,N,30-Jun-07,"$312,869.00",$0.00,"$319,000.00","$239,250.00",1
24,"AMERICAN HOME REMODELERS, INC.",CHICAGO,IL,60620,U.S. BANK NATIONAL ASSOCIATION,IL,0,9-Jul-98,1998,84,...,1,0,N,Y,31-Oct-99,"$100,000.00",$0.00,"$100,000.00","$80,000.00",0
25,WHEATFIELDS,OMAHA,NE,68114,MUTUAL OF OMAHA BANK,NE,0,9-Mar-00,2000,83,...,1,1,N,N,31-May-00,"$250,000.00",$0.00,"$250,000.00","$187,500.00",0
26,ASSIGNMENT PHOTOGRAPHY INC,FARGO,ND,58103,CAPITAL ONE NATL ASSOC,VA,541921,22-Oct-03,2004,84,...,1,1,0,N,31-Dec-03,"$25,000.00",$0.00,"$25,000.00","$12,500.00",0
27,AFFINITY FINE CABINETRY & MILL,PROVIDENCE,RI,2908,CITIZENS BANK NATL ASSOC,RI,337110,26-Mar-99,1999,12,...,1,0,T,N,30-Jun-99,"$34,566.00",$0.00,"$25,000.00","$12,500.00",0
28,POSTAL CONNECTIONS OF AMERICA,CASA GRANDE,AZ,85222,GREAT WESTERN BANK,AZ,561431,2-Apr-03,2003,25,...,66347,1,0,Y,31-May-03,"$62,900.00",$0.00,"$73,900.00","$62,815.00",1
29,SPECTATOR'S GRILLE AND BAR OF,SAVAGE,MN,55378,ALLIANCE BANK,MN,722110,4-Oct-06,2007,65,...,1,1,N,N,30-Nov-06,"$465,000.00",$0.00,"$465,000.00","$348,750.00",1
30,Lighting & Power Systems Inc,Laguna beach,CA,92677,ORANGE COUNTY BUSINESS BANK,CA,423610,30-Sep-09,2009,84,...,0,1,N,N,1-Oct-09,"$159,000.00",$0.00,"$159,000.00","$143,100.00",0
31,"R & D TRANSPORTATION, INC.",STRAFFORD,MO,65757,LIBERTY BANK,MO,0,12-Aug-97,1997,60,...,1,0,N,Y,30-Sep-97,"$30,000.00",$0.00,"$30,000.00","$24,000.00",0
32,FREDRICK AND JENNIFER WELCH,ST PETERS,MO,63376,U.S. BANK NATIONAL ASSOCIATION,OH,0,9-Jun-92,1992,36,...,1,0,N,N,31-Jul-92,"$24,000.00",$0.00,"$24,000.00","$19,200.00",0
33,Newspeed Automotive,AUSTIN,TX,78728,JPMORGAN CHASE BANK NATL ASSOC,IL,811118,14-Jun-06,2006,30,...,0,1,Y,N,30-Jun-06,"$176,553.00",$0.00,"$40,000.00","$20,000.00",1
34,"BOXES, BASKETS, & BEYOND, INC.",TITUSVILLE,FL,32780,CAPITAL ONE NATL ASSOC,VA,488991,13-Sep-06,2006,61,...,0,1,N,N,31-Oct-06,"$50,000.00",$0.00,"$50,000.00","$25,000.00",1
35,BISHOP DAVIES NURSING CENTER,HURST,TX,76054,"BUSINESS LOAN CENTER, LLC",SC,623311,21-Aug-06,2006,120,...,1,1,N,N,31-Oct-06,"$800,000.00",$0.00,"$800,000.00","$600,000.00",0
36,DAYTON MERCANTILE,DAYTON,WY,82836,FIRST INTERSTATE BANK,WY,0,21-Mar-90,1990,180,...,1,0,N,N,30-Apr-90,"$60,000.00",$0.00,"$60,000.00","$54,000.00",0
37,COFFEE BEANERY,MCLEAN,VA,22101,"READYCAP LENDING, LLC",CA,445299,6-Mar-02,2002,61,...,17900,1,0,N,31-May-02,"$300,000.00",$0.00,"$300,000.00","$225,000.00",1
38,BEAN BLOSSOM COFFEE COMPANY IN,BELLINGHAM,WA,98225,"READYCAP LENDING, LLC",CA,722211,5-Aug-04,2004,300,...,1,1,0,N,31-Aug-04,"$245,000.00",$0.00,"$245,000.00","$183,750.00",0
39,"Gootgeld Enterprises, Inc. dba",San Marcos,CA,92069,CALIFORNIA BANK & TRUST,CA,561720,7-Feb-05,2005,84,...,1,1,Y,N,31-Mar-05,"$65,904.00",$0.00,"$30,000.00","$15,000.00",0
40,USA Martial Arts,Plano,TX,75093,COMPASS BANK,AL,713940,30-Sep-10,2010,49,...,0,1,N,N,1-Oct-10,"$20,000.00",$0.00,"$20,000.00","$10,000.00",1
41,BRIERE SKOEGARD COMPANY,MERCER ISLAND,WA,98040,BANNER BANK,WA,233320,21-Oct-88,1989,60,...,0,0,N,N,30-Apr-94,"$70,000.00",$0.00,"$70,000.00","$63,000.00",0
42,EMO ENERGY SOLUTIONS LLC,VIENNA,VA,22181,BANK OF AMERICA NATL ASSOC,NC,541990,16-Apr-04,2004,84,...,1,1,Y,N,30-Apr-04,"$50,000.00",$0.00,"$50,000.00","$25,000.00",0
43,Carter Cleaners,MONMOUTH JUNCTION,NJ,8852,BANK OF AMERICA NATL ASSOC,NC,812320,24-Aug-07,2007,60,...,0,1,N,N,31-Aug-07,"$23,000.00",$0.00,"$23,000.00","$11,500.00",0
44,REFLECTION LANDSCAPING,BRUNSWICK,OH,44212,CITIZENS BANK NATL ASSOC,RI,561730,27-Feb-08,2008,45,...,0,1,T,N,31-Mar-08,"$64,402.00",$0.00,"$25,000.00","$12,500.00",1
45,PAZIENZA/SCHICK MFG CORP,PROVIDENCE,RI,2905,OCEAN ST. BUS. DEVEL AUTHORITY,RI,0,4-May-84,1984,180,...,0,0,N,N,8-Aug-84,"$130,000.00",$0.00,"$130,000.00","$130,000.00",0
46,"WILLCO HOLLOW METAL, INC.",CLINTON,OK,73601,RCB BANK,OK,332321,11-Jan-93,1993,96,...,1,0,N,N,31-Jul-93,"$350,000.00",$0.00,"$500,000.00","$400,000.00",0
47,"BLACK-EYED SUSAN FLORIST, INC.",GAMBRILLS,MD,21054,CAPITAL ONE NATL ASSOC,VA,453110,23-May-07,2007,30,...,0,1,N,N,30-Jun-07,"$50,000.00",$0.00,"$50,000.00","$25,000.00",1
48,DESIRE OF ALL NATIONS GROUP IN,LOS ANGELES,CA,90015,CATHAY BANK,CA,424330,12-May-03,2003,12,...,1,1,Y,N,31-May-03,"$50,000.00",$0.00,"$50,000.00","$25,000.00",0
49,MEGA MS LTD,HIGHLANDS,TX,77562,WOODFOREST NATIONAL BANK,TX,811310,9-Mar-05,2005,144,...,1,1,0,N,31-May-05,"$783,000.00",$0.00,"$783,000.00","$587,250.00",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49950,"Westside Tools, LLC",North Olmsted,OH,44070,"PNC BANK, NATIONAL ASSOCIATION",DE,441310,22-Nov-06,2007,60,...,0,1,Y,N,31-Dec-06,"$135,076.00",$0.00,"$50,000.00","$25,000.00",0
49951,POLO SIGN'S AND MURALS,RIVERSIDE,CA,92503,BANCO POPULAR NORTH AMERICA,NY,339950,27-Jul-07,2007,1,...,0,1,Y,N,31-Aug-07,"$75,000.00",$0.00,"$75,000.00","$37,500.00",1
49952,SPEED STREET,LAYTON,UT,84041,ZIONS FIRST NATIONAL BANK,UT,713990,31-Mar-03,2003,60,...,1,1,N,N,31-May-03,"$150,000.00",$0.00,"$150,000.00","$127,500.00",0
49953,"B & E ASSOCIATES, L.L.C.",HARRISONBURG,VA,22801,"BUSINESS FINANCE GROUP, INC.",VA,0,13-Nov-95,1996,240,...,1,0,N,N,11-Sep-96,"$343,000.00",$0.00,"$343,000.00","$343,000.00",0
49954,Irvine Teacher's Supply,IRVINE,CA,92620,BANK OF AMERICA NATL ASSOC,NC,453210,28-Jan-05,2005,61,...,1,1,T,N,31-Mar-05,"$10,000.00",$0.00,"$10,000.00","$5,000.00",1
49955,BROUSSARD REAL ESTATE GROUP,HOUSTON,TX,77024,BBCN BANK,CA,812990,17-Dec-03,2004,33,...,1,0,0,N,31-Dec-03,"$10,000.00",$0.00,"$10,000.00","$8,500.00",1
49956,CASEY MOTORS & RECREATIONAL,LAKEWOOD,CO,80215,BANK OF THE WEST,CO,441210,21-Mar-94,1994,180,...,1,0,N,N,31-Jan-95,"$391,000.00",$0.00,"$391,000.00","$293,250.00",0
49957,GLORIA'S LITTLE ITALY L.L.C.,PROVO,UT,84606,ZIONS FIRST NATIONAL BANK,UT,722211,9-Oct-07,2008,33,...,0,1,N,N,31-Oct-07,"$80,000.00",$0.00,"$80,000.00","$68,000.00",1
49958,ANTONINO LTD.,CLARENCE,NY,14031,BANK OF AMERICA NATL ASSOC,CT,0,21-Aug-96,1996,115,...,1,0,N,N,30-Jun-97,"$270,000.00",$0.00,"$270,000.00","$202,500.00",1
49959,DENISON DAILY POST,DENISON,TX,75020,FIRST UNITED BK & TR CO,OK,511110,21-Feb-01,2001,48,...,1,1,N,N,30-Sep-01,"$228,500.00",$0.00,"$228,500.00","$171,375.00",1
49960,AUTO RADIATOR SERVICE,CEDAR RAPIDS,IA,52402,NaN,NaN,811118,17-Jun-94,1994,180,...,1,0,N,N,31-Jul-94,"$266,000.00",$0.00,"$266,000.00","$199,500.00",0
49961,JCM CLEANING,SUWANEE,GA,30024,BANK OF AMERICA NATL ASSOC,NC,561790,18-Jul-02,2002,51,...,1,1,Y,N,31-Jul-02,"$100,231.00",$0.00,"$100,000.00","$50,000.00",1
49962,PEAK MECHANICAL INC,NEW BRIGHTON,MN,55112,ASSOCIATED BANK NATL ASSOC,MN,235110,28-Feb-01,2001,10,...,1,1,0,N,30-Apr-01,"$200,000.00",$0.00,"$200,000.00","$150,000.00",1
49963,JAMES M LISH,PROSPER,TX,75078,JPMORGAN CHASE BANK NATL ASSOC,IL,531210,21-Sep-06,2006,23,...,0,1,Y,N,31-Oct-06,"$103,170.00",$0.00,"$25,000.00","$12,500.00",1
49964,"ARTESIAN GROUP, LLC",MUKWONAGO,WI,53149,U.S. BANK NATIONAL ASSOCIATION,OH,444210,12-Dec-07,2008,20,...,0,1,Y,N,31-Dec-07,"$25,000.00",$0.00,"$25,000.00","$21,250.00",1
49965,Danny's Pizza & Fried Chicken,Oklahoma City,OK,73139,"BUSINESS LOAN CENTER, LLC",FL,722211,1-Nov-06,2007,71,...,0,1,N,N,30-Nov-06,"$25,000.00",$0.00,"$25,000.00","$21,250.00",1
49966,ARCHITECTURAL COUNTERS & ACCEN,SAVANNAH,TN,38372,"SUPERIOR FINANCIAL GROUP, LLC",CA,238990,29-Aug-07,2007,65,...,0,2,N,N,31-Aug-07,"$7,500.00",$0.00,"$7,500.00","$6,375.00",1
49967,Marchette Leslie Balley,LOS ANGELES,CA,90043,BANCO POPULAR NORTH AMERICA,NY,541490,3-Aug-07,2007,39,...,0,1,Y,N,31-Oct-07,"$5,113.00",$0.00,"$5,000.00","$2,500.00",1
49968,COTTMAN TRANSMISSION CENTERS,EASTON,PA,18042,LAFAYETTE AMBASSADOR BANK,PA,811111,13-Apr-05,2005,120,...,20550,1,0,Y,31-May-05,"$150,000.00",$0.00,"$150,000.00","$127,500.00",0
49969,PROBILT AUTOMATIC TRANSMISSION,POUGHKEEPSIE,NY,12603,GE CAP. SMALL BUS. FINAN CORP,TX,811113,31-Aug-94,1994,240,...,1,0,N,N,30-Apr-95,"$225,000.00",$0.00,"$225,000.00","$168,750.00",0
49970,RENEWABLE ENERGY CONCEPTS INC,LOS OSOS,CA,93402,COAST NATIONAL BANK,CA,235990,16-Oct-01,2002,6,...,1,2,N,N,31-Oct-01,"$110,000.00",$0.00,"$110,000.00","$93,500.00",0
49971,FERGUSON'S CAFE,MEMPHIS,TN,38122,FIRST TENNESSEE BANK NATL ASSO,TN,0,3-Dec-91,1992,108,...,1,0,N,N,31-Oct-92,"$220,000.00",$0.00,"$462,800.00","$379,496.00",1
49972,"MOUNTAINSIDE MEDIA, INC.",HUNTINGTON,WV,25701,THE FIRST STATE BANK,WV,541810,1-Nov-00,2001,96,...,1,1,N,N,31-Dec-00,"$80,000.00",$0.00,"$80,000.00","$60,000.00",0
49973,SEAFOOD HUT INC,ACUSHNET,MA,2743,CITIZENS BANK NATL ASSOC,RI,445220,14-Nov-03,2004,84,...,1,1,Y,N,31-Dec-03,"$140,000.00",$0.00,"$70,000.00","$35,000.00",0
49974,QUALITY READY MIX COMPANY,LEBANON,MO,65536,U.S. BANK NATIONAL ASSOCIATION,MO,0,7-Mar-85,1985,17,...,0,0,N,N,12-Mar-85,"$188,000.00",$0.00,"$188,000.00","$141,000.00",1
49975,KUTTKUHN ENTERPRISES LLC,HIGHLAND,MI,48356,"SUPERIOR FINANCIAL GROUP, LLC",CA,448310,10-Jun-08,2008,104,...,0,1,N,N,30-Jun-08,"$10,000.00",$0.00,"$10,000.00","$8,500.00",1
49976,"YICK MIN COMPANY, INC.",CHICAGO,IL,60616,SOUTH CENT. BANK NATL ASSOC,IL,422410,11-Jan-90,1990,142,...,1,0,N,N,30-Apr-90,"$500,000.00",$0.00,"$500,000.00","$425,000.00",0
49977,GREG SWOPE CONSTRUCTION INC,HOLLIDAYSBURG,PA,15548,FIRST COMMONWEALTH BANK,PA,235910,16-Jun-00,2000,49,...,1,1,0,N,30-Jun-00,"$207,000.00",$0.00,"$207,000.00","$155,250.00",1
49978,KMB ENTERPRISES,SACRAMENTO,CA,95815,BANK OF AMERICA NATL ASSOC,NC,453998,18-Dec-03,2004,18,...,1,1,N,N,31-Mar-04,"$10,000.00",$0.00,"$10,000.00","$5,000.00",1
49979,The Holly Baker Salon and Spa,Camarillo,CA,93010,"RABOBANK, NATIONAL ASSOCIATION",CA,812112,26-Oct-06,2007,4,...,0,1,Y,N,30-Nov-06,"$29,000.00",$0.00,"$20,000.00","$10,000.00",1
49980,"RACQUETECH, INC.",BOGART,GA,30622,CAPITAL ONE NATL ASSOC,VA,451110,14-Dec-06,2007,84,...,0,1,N,N,31-Jan-07,"$35,000.00",$0.00,"$35,000.00","$17,500.00",0
49981,WINTERGARDEN DESIGN,REDMOND,WA,98052,WELLS FARGO BANK NATL ASSOC,SD,541410,20-Jun-03,2003,14,...,1,1,Y,N,31-Jul-03,"$39,262.00",$0.00,"$50,000.00","$25,000.00",1
49982,TINKER TOWN LEARN & PLAY CENTE,LAS VEGAS,NV,89108,NEVADA ST. DEVEL CORP,NV,624410,27-May-05,2005,240,...,1,1,0,N,16-Nov-05,"$489,000.00",$0.00,"$513,000.00","$513,000.00",0
49983,MAX MUSCLE OF LAYTON,LAYTON,UT,84041,BANCO POPULAR NORTH AMERICA,NY,446191,10-Jun-08,2008,126,...,52070,1,0,N,31-Jul-08,"$188,600.00",$0.00,"$188,600.00","$141,450.00",0
49984,ALL AMERICAN FUELS,MOOSUP,CT,6354,BANK OF AMERICA NATL ASSOC,RI,454311,19-Oct-00,2001,84,...,1,1,0,N,30-Nov-00,"$18,000.00",$0.00,"$18,000.00","$9,000.00",0
49985,ARROW PLUMBING,LONGVIEW,TX,75601,BBCN BANK,CA,235110,26-May-06,2006,84,...,1,1,0,N,31-May-06,"$25,000.00",$0.00,"$25,000.00","$21,250.00",0
49986,SHEERS FAMILY HAIR CENTER,OSHKOSH,WI,54901,U.S. BANK NATIONAL ASSOCIATION,WI,0,4-May-92,1992,180,...,1,0,N,N,31-Jul-92,"$20,000.00",$0.00,"$20,000.00","$18,000.00",0
49987,"PUJA CORP., INC.",HOLLAND,MI,49423,WELLS FARGO BANK NATL ASSOC,SD,0,28-May-96,1996,300,...,1,0,N,N,30-Sep-96,"$656,000.00",$0.00,"$656,000.00","$492,000.00",0
49988,"Tropical Turbine Traders, Inc.",MIAMI BEACH,FL,33140,BANK OF AMERICA NATL ASSOC,NC,423990,6-Oct-05,2006,1,...,0,1,Y,N,31-Oct-05,"$51,317.00",$0.00,"$20,000.00","$10,000.00",0
49989,UPTOWN NAILS,MODESTO,CA,95356,CAPITAL ONE NATL ASSOC,VA,812113,1-Nov-06,2007,59,...,0,1,Y,N,31-Jan-07,"$31,526.00",$0.00,"$25,000.00","$12,500.00",1
49990,LOS FAROLITOS MEXICAN RESTAURA,HOUSTON,TX,77088,JPMORGAN CHASE BANK NATL ASSOC,TX,0,14-May-82,1982,84,...,0,0,N,N,13-Jan-83,"$60,000.00",$0.00,"$60,000.00","$54,000.00",1
49991,GOLD COAST TRADING COMPANY,HUNTINGTON BEACH,CA,92646,U.S. BANK NATIONAL ASSOCIATION,CA,451110,29-Aug-95,1995,120,...,1,0,N,Y,31-Oct-95,"$70,000.00",$0.00,"$70,000.00","$63,000.00",0
49992,THE WATERFALL SALON & DAY SPA,ELK RIVER,MN,55330,THE BANK OF ELK RIVER,MN,812113,10-Apr-01,2001,11,...,1,1,0,Y,30-Sep-01,"$150,000.00",$0.00,"$150,000.00","$127,500.00",1
49993,CHUTE ROOSTER'S MUSEUM & RESTA,HILL CITY,SD,57745,FIRST INTERSTATE BANK,SD,0,26-Oct-89,1990,120,...,1,0,N,N,31-Jan-90,"$54,000.00",$0.00,"$54,000.00","$48,600.00",0
49994,3-D ME LLC,VIRGINIA BEACH,VA,23454,SOUTHERN BK & TR CO,VA,454210,3-Apr-07,2007,52,...,1,1,0,N,30-Nov-07,"$150,000.00",$0.00,"$150,000.00","$75,000.00",1
49995,WESTTOWN GULF,WEST CHESTER,PA,19382,CITIZENS BANK NATL ASSOC,RI,445120,29-Aug-03,2003,84,...,1,1,Y,N,30-Sep-03,"$46,231.00",$0.00,"$30,000.00","$15,000.00",0
49996,HS ELECTRIC,ENCINO,CA,91316,BANK OF AMERICA NATL ASSOC,NC,541513,12-Jul-04,2004,77,...,1,1,N,N,31-Jul-04,"$49,750.00",$0.00,"$50,000.00","$25,000.00",1
49997,"HARDIN GRAIN ELEVATOR, INC.",HARDIN,KY,42048,COMMUNITY FINAN SERVICES BK,KY,0,4-Oct-91,1992,223,...,1,0,N,N,31-Jan-92,"$260,000.00",$0.00,"$260,000.00","$221,000.00",0
49998,THE WOODLANDS GOLF COURSE,SARASOTA,FL,34234,IBERIABANK,FL,713910,19-Jan-96,1996,116,...,1,0,N,N,30-Sep-96,"$1,193,500.00",$0.00,"$1,193,500.00","$749,995.00",0
49999,ARDEN ARCHITECTURAL SPECIALTIE,ROSEVILLE,MN,55113,WELLS FARGO BANK NATL ASSOC,MN,0,28-Mar-97,1997,48,...,1,0,0,N,30-Jun-97,"$80,000.00",$0.00,"$80,000.00","$64,000.00",0

In [4]:
#Clean types 
df_used[['DisbursementGross', 'BalanceGross', 'GrAppv', 'SBA_Appv']] = df_used[['DisbursementGross', 'BalanceGross', 'GrAppv', 'SBA_Appv']].applymap(lambda x: x.strip().replace('$', '').replace(',', '').replace('.', '')).astype('int64')
df_used['ApprovalFY'] = df_used['ApprovalFY'].apply(lambda x: x.replace('A', '')).apply('int64')
df_used['Industry'] = df_used['NAICS'].astype('str').apply(lambda x: x[:2])
df_used['Industry'] = df_used['Industry'].map({
    '11': 'Ag/For/Fish/Hunt',
    '21': 'Min/Quar/Oil_Gas_ext',
    '22': 'Utilities',
    '23': 'Construction',
    '31': 'Manufacturing',
    '32': 'Manufacturing',
    '33': 'Manufacturing',
    '42': 'Wholesale_trade',
    '44': 'Retail_trade',
    '45': 'Retail_trade',
    '48': 'Trans/Ware',
    '49': 'Trans/Ware',
    '51': 'Information',
    '52': 'Finance/Insurance',
    '53': 'RE/Rental/Lease',
    '54': 'Prof/Science/Tech',
    '55': 'Mgmt_comp',
    '56': 'Admin_sup/Waste_Mgmt_Rem',
    '61': 'Educational',
    '62': 'Healthcare/Social_assist',
    '71': 'Arts/Entertain/Rec',
    '72': 'Accom/Food_serv',
    '81': 'Other_no_pub',
    '92': 'Public_Admin'
})

df_used = df_used[df_used['NewExist'].isin(['0','1'])]
df_used['NewExist'] =df_used['NewExist'].astype('int64')
df_used['IsFranchised'] = df_used.FranchiseCode
df_used[df_used['IsFranchised'] <= 1].IsFranchised = 0 
df_used[df_used['IsFranchised'] > 1].IsFranchised = 1
df_used = df_used[df_used['NewExist'].isin([1,2])]
df_used = df_used[df_used['UrbanRural'].isin([0,1,2])]
df_used = df_used[df_used['LowDoc'].isin(['Y','N'])]
df_used = df_used[df_used['RevLineCr'].isin(['Y','N'])]

df_used['LowDoc'] = df_used['LowDoc'].map({'Y': '1','N': '0'}).astype('int64')
df_used['RevLineCr'] = df_used['RevLineCr'].map({'Y': '1','N': '0'}).astype('int64')
df_used[['ApprovalDate', 'DisbursementDate']] = df_used[['ApprovalDate', 'DisbursementDate']].apply(pd.to_datetime)
df_used['DisFY'] = df_used['DisbursementDate'].map(lambda x: x.year).apply('int64')
df_used['ratioApproved'] = df_used['SBA_Appv'] / df_used['GrAppv']
df_used['ratioBankAmount'] = df_used['GrAppv'] / df_used['DisbursementGross']
df_used.loc[df_used['GrAppv'] > df_used['DisbursementGross'],'BalanceComp'] = 1
df_used.loc[df_used['GrAppv'] < df_used['DisbursementGross'],'BalanceComp'] = 2
df_used.loc[df_used['GrAppv'] == df_used['DisbursementGross'],'BalanceComp'] = 0
df_used.loc[df_used['BankState'] == df_used['State'],'FlagState'] = 1
df_used.loc[df_used['BankState'] != df_used['State'],'FlagState'] = 0
df_used['CreateJobPer'] = df_used['CreateJob'] / df_used['NoEmp']
df_used['RetainedJobPer'] = df_used['RetainedJob'] / df_used['NoEmp']
df_used['BalanceComp'].astype('int64')

#Advanced features: TO DO:
#-> risk per industry
#-> risk per year
#-> flags for recession 2007 - 2009 / 2001

/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

Id
0        0
1        0
2        0
9        0
10       2
15       0
16       0
17       0
20       0
21       0
22       2
24       0
30       0
32       0
33       2
34       0
35       0
36       0
39       2
40       0
42       0
43       0
45       0
46       1
47       0
48       0
50       0
51       0
52       0
53       2
54       1
57       0
59       0
61       0
62       0
64       0
65       0
67       0
68       0
74       2
76       0
78       2
80       0
82       2
84       0
85       0
86       2
90       0
95       0
97       2
        ..
49909    0
49910    0
49912    2
49913    2
49918    0
49919    0
49920    0
49922    0
49923    0
49924    2
49925    2
49926    2
49927    2
49929    2
49930    0
49931    0
49932    2
49935    0
49937    0
49938    0
49940    0
49941    0
49944    1
49948    0
49951    0
49953    0
49956    0
49960    0
49961    2
49963    2
49967    2
49969    0
49970    0
49971    1
49972    0
49973    2
49974    0
49976    0
49978    0
49980    0
49981    1
49986    0
49987    0
49988    2
49989    2
49991    0
49993    0
49995    2
49996    1
49997    0
Name: BalanceComp, Length: 25306, dtype: int64

In [5]:
df_used.columns

Index(['Name', 'City', 'State', 'Zip', 'Bank', 'BankState', 'NAICS',
       'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob',
       'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr', 'LowDoc',
       'DisbursementDate', 'DisbursementGross', 'BalanceGross', 'GrAppv',
       'SBA_Appv', 'ChargeOff', 'Industry', 'IsFranchised', 'DisFY',
       'ratioApproved', 'ratioBankAmount', 'BalanceComp', 'FlagState',
       'CreateJobPer', 'RetainedJobPer'],
      dtype='object')

# Creation of first dataset
Keep only raw features

In [6]:
df_used_no_enhanced_features = df_used[['Name', 'City', 'State', 'Zip', 'Bank', 'BankState','ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob','RetainedJob', 'UrbanRural', 'RevLineCr', 'LowDoc','DisFY', 'DisbursementGross', 'BalanceGross', 'GrAppv','SBA_Appv', 'ChargeOff', 'IsFranchised']]
df_used_no_enhanced_features.drop(['Name', 'Zip', 'City','Bank'],inplace=True,axis=1)

/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [7]:
# should fill up the empty BankState with smt?

In [8]:
df_used_no_enhanced_features.dropna(inplace=True)
#Get categorical data
df_used_no_enhanced_features['BankState'] = df_used_no_enhanced_features['BankState'].astype('category')
df_used_no_enhanced_features['State'] = df_used_no_enhanced_features['State'].astype('category')
print(df_used_no_enhanced_features)

/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      State BankState  ApprovalFY  Term  NoEmp  NewExist  CreateJob  \
Id
0        FL        DE        2010   130     25         1          2
1        UT        UT        2010    33      6         1          1
2        CA        NC        2002    60      1         1          1
9        OH        CA        2007    10     15         1          5
10       CO        OH        2007    84      1         1          0
15       MA        MA        1996   120    325         1          0
16       IA        IA        1984    84     25         1          0
17       WI        WI        2004   240     14         1          0
20       FL        VA        2006    54      5         1          3
21       GA        NC        2002    84      5         1          0
22       WA        WA        1999    58      2         1          0
24       IL        IL        1998    84      6         1          0
30       CA        CA        2009    84      2         1          0
32       MO        OH        1992    36      1         1          0
33       TX        IL        2006    30      4         1          4
34       FL        VA        2006    61      2         1          1
35       TX        SC        2006   120    150         1          0
36       WY        WY        1990   180      1         1          0
39       CA        CA        2005    84     27         1          0
40       TX        AL        2010    49      1         1          0
42       VA        NC        2004    84      6         1          0
43       NJ        NC        2007    60      2         1          0
45       RI        RI        1984   180     60         1          0
46       OK        OK        1993    96     80         1          0
47       MD        VA        2007    30     13         1          0
48       CA        CA        2003    12      2         1          0
50       NY        NY        2009    60      3         1          0
51       CT        RI        2005    66      8         1          0
52       IN        IN        2005    90      9         1          0
53       TX        NC        2006    84      6         1          0
54       NY        NC        2005    84      6         1          0
57       CA        CA        2008    72      1         1          7
59       GA        NC        1983   132      6         1          0
61       NY        NY        1997    33      3         1          0
62       MN        MN        2006    51      4         1          0
64       NY        VA        2006    68      6         1          0
65       KY        KY        2001    60     15         1          5
67       PA        DE        2008    17      7         1          3
68       NV        NV        2010    84    150         1          0
74       NY        NY        2008     0      5         1          0
76       MA        RI        2005    27      4         1          0
78       IL        WI        2011    84      5         1          0
80       CA        SD        1992   120      1         1          0
82       MO        MO        2007    84     12         1          0
84       TN        AL        1991   120     15         1          0
85       IN        IN        1991    67      7         1          0
86       NY        NY        2007    30      1         1          0
90       TX        TX        1995    12     10         1          0
95       CA        SD        1991    26      3         1          0
97       CA        VA        2008    44      1         1          0
...     ...       ...         ...   ...    ...       ...        ...
49906    PA        RI        2005    84      1         1          0
49909    NY        NY        1994    12      6         1          0
49910    IL        IL        1992   240     51         1          0
49912    TX        SD        2006    84      3         1          0
49913    FL        NY        2006    66      3         1          3
49918    NY        NY        1985   240      8         1          0
49919    KS        KS        1996    84     15         1          0
49920    NY        NY        1993   180      1         1          0
49922    MO        MO        1987   240     77         1         22
49923    WA        WA        1991    84      5         1          0
49924    ME        VA        2006    42      1         1          0
49925    FL        NY        2007     6      1         1          0
49926    FL        NC        2007    62      4         1          1
49927    MN        SD        2005    38     15         1          3
49929    CT        CT        2006    22      5         1          0
49930    WA        SD        1995   120     72         1          0
49931    FL        NC        2003    84     32         1          0
49932    NY        IL        2009    84      1         1          0
49935    LA        LA        2001    50      3         1          0
49937    NY        NY        2005    60      4         1          0
49938    MS        VA        2005    84      5         1          0
49940    NY        NY        2005   180     10         1          5
49941    CA        CA        1997   120     17         1          0
49944    PA        PA        1979   228      1         1          0
49948    NY        NY        1994    72     20         1          0
49951    CA        NY        2007     1      2         1          0
49953    VA        VA        1996   240     15         1          4
49956    CO        CO        1994   180      5         1          0
49961    GA        NC        2002    51    195         1        105
49963    TX        IL        2006    23      1         1          0
49967    CA        NY        2007    39      3         1          0
49969    NY        TX        1994   240      2         1          0
49970    CA        CA        2002     6      7         1          0
49971    TN        TN        1992   108     60         1          0
49972    WV        WV        2001    96     10         1          0
49973    MA        RI        2004    84      3         1          2
49974    MO        MO        1985    17      4         1          0
49976    IL        IL        1990   142     16         1          0
49978    CA        NC        2004    18      2         1          0
49980    GA        VA        2007    84      3         1          4
49981    WA        SD        2003    14      4         1          0
49986    WI        WI        1992   180      3         1          0
49987    MI        SD        1996   300      3         1          0
49988    FL        NC        2006     1      1         1          1
49989    CA        VA        2007    59      5         1          4
49991    CA        CA        1995   120      2         1          0
49993    SD        SD        1990   120     15         1          0
49995    PA        RI        2003    84      1         1          0
49996    CA        NC        2004    77      6         1          0
49997    KY        KY        1992   223      1         1          0

       RetainedJob  UrbanRural  RevLineCr  LowDoc  DisFY  DisbursementGross  \
Id
0                0           1          0       0   2010          200000000
1                3           1          0       0   2010            1700000
2                1           1          1       0   2002            1700000
9               15           2          0       0   2007           10000000
10               1           1          1       0   2008            2926200
15               0           0          0       0   1996           10000000
16               0           0          0       0   1984            9000000
17              14           2          0       0   2004           45900000
20               5           1          0       0   2006            5000000
21               5           1          1       0   2002            1500000
22               2           1          1       0   2000           10531800
24               0           0          0       1   1999           10000000
30               2           1          0       0   2009           15900000
32               0           0          0       0   1992            2400000
33               4           1          1       0   2006           17655300
34               2           1          0       0   2006            5000000
35               0           1          0       0   2006           80000000
36               0           0          0       0   1990            6000000
39              27           1          1       0   2005            6590400
40               1           1          0       0   2010            2000000
42               6           1          1       0   2004            5000000
43               2           1          0       0   2007            2300000
45               0           0          0       0   1984           13000000
46               0           0          0       0   1993           35000000
47               0           1          0       0   2007            5000000
48               2           1          1       0   2003            5000000
50               3           1          0       0   2009           13500000
51               8           1          0       0   2005           10000000
52               0           1          0       0   2005           10000000
53               6           1          1       0   2006           27397300
54               6           1          1       0   2006            3203000
57               7           1          0       0   2008             500000
59               0           0          0       0   1983           13000000
61               0           0          0       1   1997           10000000
62               0           1          0       0   2006           15000000
64               6           1          1       0   2006           10000000
65              15           1          1       0   2001            5000000
67               7           1          0       0   2008            6980000
68             150           1          0       0   2010           55000000
74               5           1          1       0   2008           11425000
76               4           1          0       0   2005            5200000
78               0           1          1       0   2011            1950000
80               0           0          0       0   1992           15200000
82              12           1          1       0   2006           22949500
84               0           0          0       0   1992           86805600
85               0           0          0       0   1991            5000000
86               1           1          1       0   2007            8920500
90               0           0          0       0   1995            9500000
95               0           0          0       0   1991           32000000
97               1           1          1       0   2007            5053500
...            ...         ...        ...     ...    ...                ...
49906            1           1          0       0   2005            1000000
49909            0           0          0       0   1994           10000000
49910            0           0          0       0   1993          168500000
49912            3           1          1       0   2006           22883200
49913            3           1          1       0   2007            6000000
49918            0           0          0       0   1986           22700000
49919            0           0          0       0   1997           25000000
49920            0           0          0       0   1994           25000000
49922           55           0          0       0   1987           31700000
49923            0           0          0       0   1991           25000000
49924            1           1          1       0   2006            4965000
49925            1           1          1       0   2007            3709700
49926            4           1          0       0   2007            4000000
49927           18           1          1       0   2005           13178600
49929            2           1          1       0   2006           15243700
49930            0           0          0       0   1995           20780000
49931           32           1          1       0   2003            5000000
49932            1           1          1       0   2009            7569700
49935            0           0          1       0   2000           20000000
49937            0           1          0       1   2005           13000000
49938            0           1          0       0   2005            1000000
49940           10           1          0       0   2005           28000000
49941            0           0          0       0   1997           14900000
49944            0           0          0       0   1980           34000000
49948            0           0          0       0   1994           15800000
49951            2           1          1       0   2007            7500000
49953            0           0          0       0   1996           34300000
49956            0           0          0       0   1995           39100000
49961          300           1          1       0   2002           10023100
49963            1           1          1       0   2006           10317000
49967            3           1          1       0   2007             511300
49969            0           0          0       0   1995           22500000
49970            0           2          0       0   2001           11000000
49971            0           0          0       0   1992           22000000
49972            0           1          0       0   2000            8000000
49973            3           1          1       0   2003           14000000
49974            0           0          0       0   1985           18800000
49976            0           0          0       0   1990           50000000
49978            2           1          0       0   2004            1000000
49980            3           1          0       0   2007            3500000
49981            4           1          1       0   2003            3926200
49986            0           0          0       0   1992            2000000
49987            0           0          0       0   1996           65600000
49988            1           1          1       0   2005            5131700
49989            5           1          1       0   2007            3152600
49991            0           0          0       1   1995            7000000
49993            0           0          0       0   1990            5400000
49995            1           1          1       0   2003            4623100
49996            6           1          0       0   2004            4975000
49997            0           0          0       0   1992           26000000

       BalanceGross     GrAppv   SBA_Appv  ChargeOff  IsFranchised
Id
0                 0  200000000  150000000          0             0
1                 0    1700000    1700000          1             0
2                 0    1700000     850000          0             1
9                 0   10000000    5000000          1             0
10                0    2500000    1250000          0             0
15                0   10000000    8000000          0             1
16                0    9000000    8100000          1         25035
17                0   45900000   45900000          0             1
20                0    5000000    2500000          1             0
21                0    1500000     750000          0             1
22                0    4000000    2000000          0             1
24                0   10000000    8000000          0             1
30                0   15900000   14310000          0             0
32                0    2400000    1920000          0             1
33                0    4000000    2000000          1             0
34                0    5000000    2500000          1             0
35                0   80000000   60000000          0             1
36                0    6000000    5400000          0             1
39                0    3000000    1500000          0             1
40                0    2000000    1000000          1             0
42                0    5000000    2500000          0             1
43                0    2300000    1150000          0             0
45                0   13000000   13000000          0             0
46                0   50000000   40000000          0             1
47                0    5000000    2500000          1             0
48                0    5000000    2500000          0             1
50                0   13500000    6750000          0             0
51                0   10000000    5000000          1             0
52                0   10000000    8500000          0             1
53                0    4000000    2000000          0             0
54                0    3300000    1650000          0             0
57                0     500000     425000          1             0
59                0   13000000   11700000          1             0
61                0   10000000    8000000          1             1
62                0   15000000   12750000          1             1
64                0   10000000    5000000          1             0
65                0    5000000    2500000          0             1
67                0    6980000    3490000          1             0
68                0   55000000   49500000          0             0
74                0    5000000    2500000          1             0
76                0    5200000    2600000          1             1
78                0    1500000     750000          0             0
80                0   15200000   12160000          0             1
82                0    8000000    4000000          0             0
84                0   86805600   56423600          0             1
85                0    5000000    4250000          1             1
86                0    3500000    1750000          1             0
90                0    9500000    7125000          0             1
95                0   32000000   27200000          1             1
97                0    2500000    1250000          1             0
...             ...        ...        ...        ...           ...
49906             0    1000000     500000          0             1
49909             0   10000000    7500000          0             1
49910             0  168500000   74982500          0             1
49912             0    6000000    3000000          0             1
49913             0    5000000    2500000          1             1
49918             0   22700000   22700000          0             0
49919             0   25000000   18750000          0             1
49920             0   25000000   20000000          0             1
49922             0   31700000   31700000          0             0
49923             0   25000000   20300000          0             1
49924             0    2500000    1250000          1             0
49925             0    2000000    1000000          1             1
49926             0    2500000    1250000          1             0
49927             0    6500000    3250000          1         17998
49929             0   10000000    5000000          1             0
49930             0   20780000   17663000          0             1
49931             0    5000000    2500000          0             1
49932             0    2500000    1250000          0             0
49935             0   20000000   15000000          0             1
49937             0   13000000   11050000          0             1
49938             0    1000000     500000          0             1
49940             0   28000000   21000000          0             1
49941             0   14900000   11175000          0             1
49944             0   38000000   34200000          1             0
49948             0   15800000   13272000          0             1
49951             0    7500000    3750000          1             0
49953             0   34300000   34300000          0             1

In [9]:
print(df_used_no_enhanced_features.dtypes)
df_used_no_enhanced_features

State                category
BankState            category
ApprovalFY              int64
Term                    int64
NoEmp                   int64
NewExist                int64
CreateJob               int64
RetainedJob             int64
UrbanRural              int64
RevLineCr               int64
LowDoc                  int64
DisFY                   int64
DisbursementGross       int64
BalanceGross            int64
GrAppv                  int64
SBA_Appv                int64
ChargeOff               int64
IsFranchised            int64
dtype: object

,State,BankState,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,UrbanRural,RevLineCr,LowDoc,DisFY,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,ChargeOff,IsFranchised
Id,,,,,,,,,,,,,,,,,,
0,FL,DE,2010,130,25,1,2,0,1,0,0,2010,200000000,0,200000000,150000000,0,0
1,UT,UT,2010,33,6,1,1,3,1,0,0,2010,1700000,0,1700000,1700000,1,0
2,CA,NC,2002,60,1,1,1,1,1,1,0,2002,1700000,0,1700000,850000,0,1
9,OH,CA,2007,10,15,1,5,15,2,0,0,2007,10000000,0,10000000,5000000,1,0
10,CO,OH,2007,84,1,1,0,1,1,1,0,2008,2926200,0,2500000,1250000,0,0
15,MA,MA,1996,120,325,1,0,0,0,0,0,1996,10000000,0,10000000,8000000,0,1
16,IA,IA,1984,84,25,1,0,0,0,0,0,1984,9000000,0,9000000,8100000,1,25035
17,WI,WI,2004,240,14,1,0,14,2,0,0,2004,45900000,0,45900000,45900000,0,1
20,FL,VA,2006,54,5,1,3,5,1,0,0,2006,5000000,0,5000000,2500000,1,0
21,GA,NC,2002,84,5,1,0,5,1,1,0,2002,1500000,0,1500000,750000,0,1
22,WA,WA,1999,58,2,1,0,2,1,1,0,2000,10531800,0,4000000,2000000,0,1
24,IL,IL,1998,84,6,1,0,0,0,0,1,1999,10000000,0,10000000,8000000,0,1
30,CA,CA,2009,84,2,1,0,2,1,0,0,2009,15900000,0,15900000,14310000,0,0
32,MO,OH,1992,36,1,1,0,0,0,0,0,1992,2400000,0,2400000,1920000,0,1
33,TX,IL,2006,30,4,1,4,4,1,1,0,2006,17655300,0,4000000,2000000,1,0
34,FL,VA,2006,61,2,1,1,2,1,0,0,2006,5000000,0,5000000,2500000,1,0
35,TX,SC,2006,120,150,1,0,0,1,0,0,2006,80000000,0,80000000,60000000,0,1
36,WY,WY,1990,180,1,1,0,0,0,0,0,1990,6000000,0,6000000,5400000,0,1
39,CA,CA,2005,84,27,1,0,27,1,1,0,2005,6590400,0,3000000,1500000,0,1
40,TX,AL,2010,49,1,1,0,1,1,0,0,2010,2000000,0,2000000,1000000,1,0
42,VA,NC,2004,84,6,1,0,6,1,1,0,2004,5000000,0,5000000,2500000,0,1
43,NJ,NC,2007,60,2,1,0,2,1,0,0,2007,2300000,0,2300000,1150000,0,0
45,RI,RI,1984,180,60,1,0,0,0,0,0,1984,13000000,0,13000000,13000000,0,0
46,OK,OK,1993,96,80,1,0,0,0,0,0,1993,35000000,0,50000000,40000000,0,1
47,MD,VA,2007,30,13,1,0,0,1,0,0,2007,5000000,0,5000000,2500000,1,0
48,CA,CA,2003,12,2,1,0,2,1,1,0,2003,5000000,0,5000000,2500000,0,1
50,NY,NY,2009,60,3,1,0,3,1,0,0,2009,13500000,0,13500000,6750000,0,0
51,CT,RI,2005,66,8,1,0,8,1,0,0,2005,10000000,0,10000000,5000000,1,0
52,IN,IN,2005,90,9,1,0,0,1,0,0,2005,10000000,0,10000000,8500000,0,1
53,TX,NC,2006,84,6,1,0,6,1,1,0,2006,27397300,0,4000000,2000000,0,0
54,NY,NC,2005,84,6,1,0,6,1,1,0,2006,3203000,0,3300000,1650000,0,0
57,CA,CA,2008,72,1,1,7,7,1,0,0,2008,500000,0,500000,425000,1,0
59,GA,NC,1983,132,6,1,0,0,0,0,0,1983,13000000,0,13000000,11700000,1,0
61,NY,NY,1997,33,3,1,0,0,0,0,1,1997,10000000,0,10000000,8000000,1,1
62,MN,MN,2006,51,4,1,0,0,1,0,0,2006,15000000,0,15000000,12750000,1,1
64,NY,VA,2006,68,6,1,0,6,1,1,0,2006,10000000,0,10000000,5000000,1,0
65,KY,KY,2001,60,15,1,5,15,1,1,0,2001,5000000,0,5000000,2500000,0,1
67,PA,DE,2008,17,7,1,3,7,1,0,0,2008,6980000,0,6980000,3490000,1,0
68,NV,NV,2010,84,150,1,0,150,1,0,0,2010,55000000,0,55000000,49500000,0,0
74,NY,NY,2008,0,5,1,0,5,1,1,0,2008,11425000,0,5000000,2500000,1,0
76,MA,RI,2005,27,4,1,0,4,1,0,0,2005,5200000,0,5200000,2600000,1,1
78,IL,WI,2011,84,5,1,0,0,1,1,0,2011,1950000,0,1500000,750000,0,0
80,CA,SD,1992,120,1,1,0,0,0,0,0,1992,15200000,0,15200000,12160000,0,1
82,MO,MO,2007,84,12,1,0,12,1,1,0,2006,22949500,0,8000000,4000000,0,0
84,TN,AL,1991,120,15,1,0,0,0,0,0,1992,86805600,0,86805600,56423600,0,1
85,IN,IN,1991,67,7,1,0,0,0,0,0,1991,5000000,0,5000000,4250000,1,1
86,NY,NY,2007,30,1,1,0,1,1,1,0,2007,8920500,0,3500000,1750000,1,0
90,TX,TX,1995,12,10,1,0,0,0,0,0,1995,9500000,0,9500000,7125000,0,1
95,CA,SD,1991,26,3,1,0,0,0,0,0,1991,32000000,0,32000000,27200000,1,1
97,CA,VA,2008,44,1,1,0,1,1,1,0,2007,5053500,0,2500000,1250000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49906,PA,RI,2005,84,1,1,0,1,1,0,0,2005,1000000,0,1000000,500000,0,1
49909,NY,NY,1994,12,6,1,0,0,0,0,0,1994,10000000,0,10000000,7500000,0,1
49910,IL,IL,1992,240,51,1,0,0,0,0,0,1993,168500000,0,168500000,74982500,0,1
49912,TX,SD,2006,84,3,1,0,3,1,1,0,2006,22883200,0,6000000,3000000,0,1
49913,FL,NY,2006,66,3,1,3,3,1,1,0,2007,6000000,0,5000000,2500000,1,1
49918,NY,NY,1985,240,8,1,0,0,0,0,0,1986,22700000,0,22700000,22700000,0,0
49919,KS,KS,1996,84,15,1,0,0,0,0,0,1997,25000000,0,25000000,18750000,0,1
49920,NY,NY,1993,180,1,1,0,0,0,0,0,1994,25000000,0,25000000,20000000,0,1
49922,MO,MO,1987,240,77,1,22,55,0,0,0,1987,31700000,0,31700000,31700000,0,0
49923,WA,WA,1991,84,5,1,0,0,0,0,0,1991,25000000,0,25000000,20300000,0,1
49924,ME,VA,2006,42,1,1,0,1,1,1,0,2006,4965000,0,2500000,1250000,1,0
49925,FL,NY,2007,6,1,1,0,1,1,1,0,2007,3709700,0,2000000,1000000,1,1
49926,FL,NC,2007,62,4,1,1,4,1,0,0,2007,4000000,0,2500000,1250000,1,0
49927,MN,SD,2005,38,15,1,3,18,1,1,0,2005,13178600,0,6500000,3250000,1,17998
49929,CT,CT,2006,22,5,1,0,2,1,1,0,2006,15243700,0,10000000,5000000,1,0
49930,WA,SD,1995,120,72,1,0,0,0,0,0,1995,20780000,0,20780000,17663000,0,1
49931,FL,NC,2003,84,32,1,0,32,1,1,0,2003,5000000,0,5000000,2500000,0,1
49932,NY,IL,2009,84,1,1,0,1,1,1,0,2009,7569700,0,2500000,1250000,0,0
49935,LA,LA,2001,50,3,1,0,0,0,1,0,2000,20000000,0,20000000,15000000,0,1
49937,NY,NY,2005,60,4,1,0,0,1,0,1,2005,13000000,0,13000000,11050000,0,1
49938,MS,VA,2005,84,5,1,0,0,1,0,0,2005,1000000,0,1000000,500000,0,1
49940,NY,NY,2005,180,10,1,5,10,1,0,0,2005,28000000,0,28000000,21000000,0,1
49941,CA,CA,1997,120,17,1,0,0,0,0,0,1997,14900000,0,14900000,11175000,0,1
49944,PA,PA,1979,228,1,1,0,0,0,0,0,1980,34000000,0,38000000,34200000,1,0
49948,NY,NY,1994,72,20,1,0,0,0,0,0,1994,15800000,0,15800000,13272000,0,1
49951,CA,NY,2007,1,2,1,0,2,1,1,0,2007,7500000,0,7500000,3750000,1,0
49953,VA,VA,1996,240,15,1,4,0,0,0,0,1996,34300000,0,34300000,34300000,0,1
49956,CO,CO,1994,180,5,1,0,0,0,0,0,1995,39100000,0,39100000,29325000,0,1
49961,GA,NC,2002,51,195,1,105,300,1,1,0,2002,10023100,0,10000000,5000000,1,1
49963,TX,IL,2006,23,1,1,0,1,1,1,0,2006,10317000,0,2500000,1250000,1,0
49967,CA,NY,2007,39,3,1,0,3,1,1,0,2007,511300,0,500000,250000,1,0
49969,NY,TX,1994,240,2,1,0,0,0,0,0,1995,22500000,0,22500000,16875000,0,1
49970,CA,CA,2002,6,7,1,0,0,2,0,0,2001,11000000,0,11000000,9350000,0,1
49971,TN,TN,1992,108,60,1,0,0,0,0,0,1992,22000000,0,46280000,37949600,1,1
49972,WV,WV,2001,96,10,1,0,0,1,0,0,2000,8000000,0,8000000,6000000,0,1
49973,MA,RI,2004,84,3,1,2,3,1,1,0,2003,14000000,0,7000000,3500000,0,1
49974,MO,MO,1985,17,4,1,0,0,0,0,0,1985,18800000,0,18800000,14100000,1,0
49976,IL,IL,1990,142,16,1,0,0,0,0,0,1990,50000000,0,50000000,42500000,0,1
49978,CA,NC,2004,18,2,1,0,2,1,0,0,2004,1000000,0,1000000,500000,1,1
49980,GA,VA,2007,84,3,1,4,3,1,0,0,2007,3500000,0,3500000,1750000,0,0
49981,WA,SD,2003,14,4,1,0,4,1,1,0,2003,3926200,0,5000000,2500000,1,1
49986,WI,WI,1992,180,3,1,0,0,0,0,0,1992,2000000,0,2000000,1800000,0,1
49987,MI,SD,1996,300,3,1,0,0,0,0,0,1996,65600000,0,65600000,49200000,0,1
49988,FL,NC,2006,1,1,1,1,1,1,1,0,2005,5131700,0,2000000,1000000,0,0
49989,CA,VA,2007,59,5,1,4,5,1,1,0,2007,3152600,0,2500000,1250000,1,0
49991,CA,CA,1995,120,2,1,0,0,0,0,1,1995,7000000,0,7000000,6300000,0,1
49993,SD,SD,1990,120,15,1,0,0,0,0,0,1990,5400000,0,5400000,4860000,0,1
49995,PA,RI,2003,84,1,1,0,1,1,1,0,2003,4623100,0,3000000,1500000,0,1
49996,CA,NC,2004,77,6,1,0,6,1,0,0,2004,4975000,0,5000000,2500000,1,1
49997,KY,KY,1992,223,1,1,0,0,0,0,0,1992,26000000,0,26000000,22100000,0,1

In [10]:
all_states = list(set(list(df_used_no_enhanced_features['State'].unique())) | set(list(df_used_no_enhanced_features['BankState'].unique())))
#print('nulls ', df_used_no_enhanced_features['BankState'].isna().sum() + df_used_no_enhanced_features['State'].isna().sum())
all_states_id = [i for i in range(len(all_states))]
dict_map =  dict(zip(all_states, all_states_id))
#print('dict_map', dict_map)
#print('bankstateid\n', df_used_no_enhanced_features['BankState']);
#print(df_used['BankState'].map(dict_map))
#print(df_used['BankState'].map(dict_map).isna().sum())
#print(df_used['BankState'].map(dict_map).dropna())
df_used['StateId'] = df_used['State'].map(dict_map).dropna().astype('int64')
df_used['BankStateId'] = df_used['BankState'].map(dict_map).dropna().astype('int64')
df_used['BankStateId'].dropna(inplace=True)
print('ID ',df_used['BankStateId'])
df_used_no_enhanced_features_final = df_used_no_enhanced_features.drop('State', axis=1)
df_used_no_enhanced_features_final = df_used_no_enhanced_features.drop('BankState', axis=1)
print('final', df_used_no_enhanced_features_final)

ID  Id
0        31.0
1         1.0
2        21.0
9        41.0
10       27.0
15       45.0
16       17.0
17        8.0
20       51.0
21       21.0
22        6.0
24       48.0
30       41.0
32       27.0
33       48.0
34       51.0
35       28.0
36       15.0
39       41.0
40       36.0
42       21.0
43       21.0
45       35.0
46       18.0
47       51.0
48       41.0
50        2.0
51       35.0
52        7.0
53       21.0
54       21.0
57       41.0
59       21.0
61        2.0
62       12.0
64       51.0
65       44.0
67       31.0
68       13.0
74        2.0
76       35.0
78        8.0
80       34.0
82       20.0
84       36.0
85        7.0
86        2.0
90       37.0
95       34.0
97       51.0
         ...
49906    35.0
49909     2.0
49910    48.0
49912    34.0
49913     2.0
49918     2.0
49919     4.0
49920     2.0
49922    20.0
49923     6.0
49924    51.0
49925     2.0
49926    21.0
49927    34.0
49929    19.0
49930    34.0
49931    21.0
49932    48.0
49935     5.0
49937     2.0
49938    51.0
49940     2.0
49941    41.0
49944    32.0
49948     2.0
49951     2.0
49953    51.0
49956    16.0
49961    21.0
49963    48.0
49967     2.0
49969    37.0
49970    41.0
49971    25.0
49972    23.0
49973    35.0
49974    20.0
49976    48.0
49978    21.0
49980    51.0
49981    34.0
49986     8.0
49987    34.0
49988    21.0
49989    51.0
49991    41.0
49993    34.0
49995    35.0
49996    21.0
49997    44.0
Name: BankStateId, Length: 25250, dtype: float64
final       State  ApprovalFY  Term  NoEmp  NewExist  CreateJob  RetainedJob  \
Id
0        FL        2010   130     25         1          2            0
1        UT        2010    33      6         1          1            3
2        CA        2002    60      1         1          1            1
9        OH        2007    10     15         1          5           15
10       CO        2007    84      1         1          0            1
15       MA        1996   120    325         1          0            0
16       IA        1984    84     25         1          0            0
17       WI        2004   240     14         1          0           14
20       FL        2006    54      5         1          3            5
21       GA        2002    84      5         1          0            5
22       WA        1999    58      2         1          0            2
24       IL        1998    84      6         1          0            0
30       CA        2009    84      2         1          0            2
32       MO        1992    36      1         1          0            0
33       TX        2006    30      4         1          4            4
34       FL        2006    61      2         1          1            2
35       TX        2006   120    150         1          0            0
36       WY        1990   180      1         1          0            0
39       CA        2005    84     27         1          0           27
40       TX        2010    49      1         1          0            1
42       VA        2004    84      6         1          0            6
43       NJ        2007    60      2         1          0            2
45       RI        1984   180     60         1          0            0
46       OK        1993    96     80         1          0            0
47       MD        2007    30     13         1          0            0
48       CA        2003    12      2         1          0            2
50       NY        2009    60      3         1          0            3
51       CT        2005    66      8         1          0            8
52       IN        2005    90      9         1          0            0
53       TX        2006    84      6         1          0            6
54       NY        2005    84      6         1          0            6
57       CA        2008    72      1         1          7            7
59       GA        1983   132      6         1          0            0
61       NY        1997    33      3         1          0            0
62       MN        2006    51      4         1          0            0
64       NY        2006    68      6         1          0            6
65       KY        2001    60     15         1          5           15
67       PA        2008    17      7         1          3            7
68       NV        2010    84    150         1          0          150
74       NY        2008     0      5         1          0            5
76       MA        2005    27      4         1          0            4
78       IL        2011    84      5         1          0            0
80       CA        1992   120      1         1          0            0
82       MO        2007    84     12         1          0           12
84       TN        1991   120     15         1          0            0
85       IN        1991    67      7         1          0            0
86       NY        2007    30      1         1          0            1
90       TX        1995    12     10         1          0            0
95       CA        1991    26      3         1          0            0
97       CA        2008    44      1         1          0            1
...     ...         ...   ...    ...       ...        ...          ...
49906    PA        2005    84      1         1          0            1
49909    NY        1994    12      6         1          0            0
49910    IL        1992   240     51         1          0            0
49912    TX        2006    84      3         1          0            3
49913    FL        2006    66      3         1          3            3
49918    NY        1985   240      8         1          0            0
49919    KS        1996    84     15         1          0            0
49920    NY        1993   180      1         1          0            0
49922    MO        1987   240     77         1         22           55
49923    WA        1991    84      5         1          0            0
49924    ME        2006    42      1         1          0            1
49925    FL        2007     6      1         1          0            1
49926    FL        2007    62      4         1          1            4
49927    MN        2005    38     15         1          3           18
49929    CT        2006    22      5         1          0            2
49930    WA        1995   120     72         1          0            0
49931    FL        2003    84     32         1          0           32
49932    NY        2009    84      1         1          0            1
49935    LA        2001    50      3         1          0            0
49937    NY        2005    60      4         1          0            0
49938    MS        2005    84      5         1          0            0
49940    NY        2005   180     10         1          5           10
49941    CA        1997   120     17         1          0            0
49944    PA        1979   228      1         1          0            0
49948    NY        1994    72     20         1          0            0
49951    CA        2007     1      2         1          0            2
49953    VA        1996   240     15         1          4            0
49956    CO        1994   180      5         1          0            0
49961    GA        2002    51    195         1        105          300
49963    TX        2006    23      1         1          0            1
49967    CA        2007    39      3         1          0            3
49969    NY        1994   240      2         1          0            0
49970    CA        2002     6      7         1          0            0
49971    TN        1992   108     60         1          0            0
49972    WV        2001    96     10         1          0            0
49973    MA        2004    84      3         1          2            3
49974    MO        1985    17      4         1          0            0
49976    IL        1990   142     16         1          0            0
49978    CA        2004    18      2         1          0            2
49980    GA        2007    84      3         1          4            3
49981    WA        2003    14      4         1          0            4
49986    WI        1992   180      3         1          0            0
49987    MI        1996   300      3         1          0            0
49988    FL        2006     1      1         1          1            1
49989    CA        2007    59      5         1          4            5
49991    CA        1995   120      2         1          0            0
49993    SD        1990   120     15         1          0            0
49995    PA        2003    84      1         1          0            1
49996    CA        2004    77      6         1          0            6
49997    KY        1992   223      1         1          0            0

       UrbanRural  RevLineCr  LowDoc  DisFY  DisbursementGross  BalanceGross  \
Id
0               1          0       0   2010          200000000             0
1               1          0       0   2010            1700000             0
2               1          1       0   2002            1700000             0
9               2          0       0   2007           10000000             0
10              1          1       0   2008            2926200             0
15              0          0       0   1996           10000000             0
16              0          0       0   1984            9000000             0
17              2          0       0   2004           45900000             0
20              1          0       0   2006            5000000             0
21              1          1       0   2002            1500000             0
22              1          1       0   2000           10531800             0
24              0          0       1   1999           10000000             0
30              1          0       0   2009           15900000             0
32              0          0       0   1992            2400000             0
33              1          1       0   2006           17655300             0
34              1          0       0   2006            5000000             0
35              1          0       0   2006           80000000             0
36              0          0       0   1990            6000000             0
39              1          1       0   2005            6590400             0
40              1          0       0   2010            2000000             0
42              1          1       0   2004            5000000             0
43              1          0       0   2007            2300000             0
45              0          0       0   1984           13000000             0
46              0          0       0   1993           35000000             0
47              1          0       0   2007            5000000             0
48              1          1       0   2003            5000000             0
50              1          0       0   2009           13500000             0
51              1          0       0   2005           10000000             0
52              1          0       0   2005           10000000             0
53              1          1       0   2006           27397300             0
54              1          1       0   2006            3203000             0
57              1          0       0   2008             500000             0
59              0          0       0   1983           13000000             0
61              0          0       1   1997           10000000             0
62              1          0       0   2006           15000000             0
64              1          1       0   2006           10000000             0
65              1          1       0   2001            5000000             0
67              1          0       0   2008            6980000             0
68              1          0       0   2010           55000000             0
74              1          1       0   2008           11425000             0
76              1          0       0   2005            5200000             0
78              1          1       0   2011            1950000             0
80              0          0       0   1992           15200000             0
82              1          1       0   2006           22949500             0
84              0          0       0   1992           86805600             0
85              0          0       0   1991            5000000             0
86              1          1       0   2007            8920500             0
90              0          0       0   1995            9500000             0
95              0          0       0   1991           32000000             0
97              1          1       0   2007            5053500             0
...           ...        ...     ...    ...                ...           ...
49906           1          0       0   2005            1000000             0
49909           0          0       0   1994           10000000             0
49910           0          0       0   1993          168500000             0
49912           1          1       0   2006           22883200             0
49913           1          1       0   2007            6000000             0
49918           0          0       0   1986           22700000             0
49919           0          0       0   1997           25000000             0
49920           0          0       0   1994           25000000             0
49922           0          0       0   1987           31700000             0
49923           0          0       0   1991           25000000             0
49924           1          1       0   2006            4965000             0
49925           1          1       0   2007            3709700             0
49926           1          0       0   2007            4000000             0
49927           1          1       0   2005           13178600             0
49929           1          1       0   2006           15243700             0
49930           0          0       0   1995           20780000             0
49931           1          1       0   2003            5000000             0
49932           1          1       0   2009            7569700             0
49935           0          1       0   2000           20000000             0
49937           1          0       1   2005           13000000             0
49938           1          0       0   2005            1000000             0
49940           1          0       0   2005           28000000             0
49941           0          0       0   1997           14900000             0
49944           0          0       0   1980           34000000             0
49948           0          0       0   1994           15800000             0
49951           1          1       0   2007            7500000             0
49953           0          0       0   1996           34300000             0
49956           0          0       0   1995           39100000             0
49961           1          1       0   2002           10023100             0
49963           1          1       0   2006           10317000             0
49967           1          1       0   2007             511300             0
49969           0          0       0   1995           22500000             0
49970           2          0       0   2001           11000000             0
49971           0          0       0   1992           22000000             0
49972           1          0       0   2000            8000000             0
49973           1          1       0   2003           14000000             0
49974           0          0       0   1985           18800000             0
49976           0          0       0   1990           50000000             0
49978           1          0       0   2004            1000000             0
49980           1          0       0   2007            3500000             0
49981           1          1       0   2003            3926200             0
49986           0          0       0   1992            2000000             0
49987           0          0       0   1996           65600000             0
49988           1          1       0   2005            5131700             0
49989           1          1       0   2007            3152600             0
49991           0          0       1   1995            7000000             0
49993           0          0       0   1990            5400000             0
49995           1          1       0   2003            4623100             0
49996           1          0       0   2004            4975000             0
49997           0          0       0   1992           26000000             0

          GrAppv   SBA_Appv  ChargeOff  IsFranchised
Id
0      200000000  150000000          0             0
1        1700000    1700000          1             0
2        1700000     850000          0             1
9       10000000    5000000          1             0
10       2500000    1250000          0             0
15      10000000    8000000          0             1
16       9000000    8100000          1         25035
17      45900000   45900000          0             1
20       5000000    2500000          1             0
21       1500000     750000          0             1
22       4000000    2000000          0             1
24      10000000    8000000          0             1
30      15900000   14310000          0             0
32       2400000    1920000          0             1
33       4000000    2000000          1             0
34       5000000    2500000          1             0
35      80000000   60000000          0             1
36       6000000    5400000          0             1
39       3000000    1500000          0             1
40       2000000    1000000          1             0
42       5000000    2500000          0             1
43       2300000    1150000          0             0
45      13000000   13000000          0             0
46      50000000   40000000          0             1
47       5000000    2500000          1             0
48       5000000    2500000          0             1
50      13500000    6750000          0             0
51      10000000    5000000          1             0
52      10000000    8500000          0             1
53       4000000    2000000          0             0
54       3300000    1650000          0             0
57        500000     425000          1             0
59      13000000   11700000          1             0
61      10000000    8000000          1             1
62      15000000   12750000          1             1
64      10000000    5000000          1             0
65       5000000    2500000          0             1
67       6980000    3490000          1             0
68      55000000   49500000          0             0
74       5000000    2500000          1             0
76       5200000    2600000          1             1
78       1500000     750000          0             0
80      15200000   12160000          0             1
82       8000000    4000000          0             0
84      86805600   56423600          0             1
85       5000000    4250000          1             1
86       3500000    1750000          1             0
90       9500000    7125000          0             1
95      32000000   27200000          1             1
97       2500000    1250000          1             0
...          ...        ...        ...           ...
49906    1000000     500000          0             1
49909   10000000    7500000          0             1
49910  168500000   74982500          0             1
49912    6000000    3000000          0             1
49913    5000000    2500000          1             1
49918   22700000   22700000          0             0
49919   25000000   18750000          0             1
49920   25000000   20000000          0             1
49922   31700000   31700000          0             0
49923   25000000   20300000          0             1
49924    2500000    1250000          1             0
49925    2000000    1000000          1             1

In [20]:
# Scale the feature values prior to modeling
y = df_used_no_enhanced_features_final['ChargeOff']
X = df_used_no_enhanced_features_final.drop('ChargeOff', axis=1)
X = df_used_no_enhanced_features_final.drop('State', axis=1)
scale = StandardScaler()
X.drop('ChargeOff', axis=1, inplace=True)
print(X)
X_scaled = scale.fit_transform(X)
X_train, X_val, y_train, y_val = train_test_split(X_scaled, y, test_size=0.25)

       ApprovalFY  Term  NoEmp  NewExist  CreateJob  RetainedJob  UrbanRural  \
Id
0            2010   130     25         1          2            0           1
1            2010    33      6         1          1            3           1
2            2002    60      1         1          1            1           1
9            2007    10     15         1          5           15           2
10           2007    84      1         1          0            1           1
15           1996   120    325         1          0            0           0
16           1984    84     25         1          0            0           0
17           2004   240     14         1          0           14           2
20           2006    54      5         1          3            5           1
21           2002    84      5         1          0            5           1
22           1999    58      2         1          0            2           1
24           1998    84      6         1          0            0           0
30           2009    84      2         1          0            2           1
32           1992    36      1         1          0            0           0
33           2006    30      4         1          4            4           1
34           2006    61      2         1          1            2           1
35           2006   120    150         1          0            0           1
36           1990   180      1         1          0            0           0
39           2005    84     27         1          0           27           1
40           2010    49      1         1          0            1           1
42           2004    84      6         1          0            6           1
43           2007    60      2         1          0            2           1
45           1984   180     60         1          0            0           0
46           1993    96     80         1          0            0           0
47           2007    30     13         1          0            0           1
48           2003    12      2         1          0            2           1
50           2009    60      3         1          0            3           1
51           2005    66      8         1          0            8           1
52           2005    90      9         1          0            0           1
53           2006    84      6         1          0            6           1
54           2005    84      6         1          0            6           1
57           2008    72      1         1          7            7           1
59           1983   132      6         1          0            0           0
61           1997    33      3         1          0            0           0
62           2006    51      4         1          0            0           1
64           2006    68      6         1          0            6           1
65           2001    60     15         1          5           15           1
67           2008    17      7         1          3            7           1
68           2010    84    150         1          0          150           1
74           2008     0      5         1          0            5           1
76           2005    27      4         1          0            4           1
78           2011    84      5         1          0            0           1
80           1992   120      1         1          0            0           0
82           2007    84     12         1          0           12           1
84           1991   120     15         1          0            0           0
85           1991    67      7         1          0            0           0
86           2007    30      1         1          0            1           1
90           1995    12     10         1          0            0           0
95           1991    26      3         1          0            0           0
97           2008    44      1         1          0            1           1
...           ...   ...    ...       ...        ...          ...         ...
49906        2005    84      1         1          0            1           1
49909        1994    12      6         1          0            0           0
49910        1992   240     51         1          0            0           0
49912        2006    84      3         1          0            3           1
49913        2006    66      3         1          3            3           1
49918        1985   240      8         1          0            0           0
49919        1996    84     15         1          0            0           0
49920        1993   180      1         1          0            0           0
49922        1987   240     77         1         22           55           0
49923        1991    84      5         1          0            0           0
49924        2006    42      1         1          0            1           1
49925        2007     6      1         1          0            1           1
49926        2007    62      4         1          1            4           1
49927        2005    38     15         1          3           18           1
49929        2006    22      5         1          0            2           1
49930        1995   120     72         1          0            0           0
49931        2003    84     32         1          0           32           1
49932        2009    84      1         1          0            1           1
49935        2001    50      3         1          0            0           0
49937        2005    60      4         1          0            0           1
49938        2005    84      5         1          0            0           1
49940        2005   180     10         1          5           10           1
49941        1997   120     17         1          0            0           0
49944        1979   228      1         1          0            0           0
49948        1994    72     20         1          0            0           0
49951        2007     1      2         1          0            2           1
49953        1996   240     15         1          4            0           0
49956        1994   180      5         1          0            0           0
49961        2002    51    195         1        105          300           1
49963        2006    23      1         1          0            1           1
49967        2007    39      3         1          0            3           1
49969        1994   240      2         1          0            0           0
49970        2002     6      7         1          0            0           2
49971        1992   108     60         1          0            0           0
49972        2001    96     10         1          0            0           1
49973        2004    84      3         1          2            3           1
49974        1985    17      4         1          0            0           0
49976        1990   142     16         1          0            0           0
49978        2004    18      2         1          0            2           1
49980        2007    84      3         1          4            3           1
49981        2003    14      4         1          0            4           1
49986        1992   180      3         1          0            0           0
49987        1996   300      3         1          0            0           0
49988        2006     1      1         1          1            1           1
49989        2007    59      5         1          4            5           1
49991        1995   120      2         1          0            0           0
49993        1990   120     15         1          0            0           0
49995        2003    84      1         1          0            1           1
49996        2004    77      6         1          0            6           1
49997        1992   223      1         1          0            0           0

       RevLineCr  LowDoc  DisFY  DisbursementGross  BalanceGross     GrAppv  \
Id
0              0       0   2010          200000000             0  200000000
1              0       0   2010            1700000             0    1700000
2              1       0   2002            1700000             0    1700000
9              0       0   2007           10000000             0   10000000
10             1       0   2008            2926200             0    2500000
15             0       0   1996           10000000             0   10000000
16             0       0   1984            9000000             0    9000000
17             0       0   2004           45900000             0   45900000
20             0       0   2006            5000000             0    5000000
21             1       0   2002            1500000             0    1500000
22             1       0   2000           10531800             0    4000000
24             0       1   1999           10000000             0   10000000
30             0       0   2009           15900000             0   15900000
32             0       0   1992            2400000             0    2400000
33             1       0   2006           17655300             0    4000000
34             0       0   2006            5000000             0    5000000
35             0       0   2006           80000000             0   80000000
36             0       0   1990            6000000             0    6000000
39             1       0   2005            6590400             0    3000000
40             0       0   2010            2000000             0    2000000
42             1       0   2004            5000000             0    5000000
43             0       0   2007            2300000             0    2300000
45             0       0   1984           13000000             0   13000000
46             0       0   1993           35000000             0   50000000
47             0       0   2007            5000000             0    5000000
48             1       0   2003            5000000             0    5000000
50             0       0   2009           13500000             0   13500000
51             0       0   2005           10000000             0   10000000
52             0       0   2005           10000000             0   10000000
53             1       0   2006           27397300             0    4000000
54             1       0   2006            3203000             0    3300000
57             0       0   2008             500000             0     500000
59             0       0   1983           13000000             0   13000000
61             0       1   1997           10000000             0   10000000
62             0       0   2006           15000000             0   15000000
64             1       0   2006           10000000             0   10000000
65             1       0   2001            5000000             0    5000000
67             0       0   2008            6980000             0    6980000
68             0       0   2010           55000000             0   55000000
74             1       0   2008           11425000             0    5000000
76             0       0   2005            5200000             0    5200000
78             1       0   2011            1950000             0    1500000
80             0       0   1992           15200000             0   15200000
82             1       0   2006           22949500             0    8000000
84             0       0   1992           86805600             0   86805600
85             0       0   1991            5000000             0    5000000
86             1       0   2007            8920500             0    3500000
90             0       0   1995            9500000             0    9500000
95             0       0   1991           32000000             0   32000000
97             1       0   2007            5053500             0    2500000
...          ...     ...    ...                ...           ...        ...
49906          0       0   2005            1000000             0    1000000
49909          0       0   1994           10000000             0   10000000
49910          0       0   1993          168500000             0  168500000
49912          1       0   2006           22883200             0    6000000
49913          1       0   2007            6000000             0    5000000
49918          0       0   1986           22700000             0   22700000
49919          0       0   1997           25000000             0   25000000
49920          0       0   1994           25000000             0   25000000
49922          0       0   1987           31700000             0   31700000
49923          0       0   1991           25000000             0   25000000
49924          1       0   2006            4965000             0    2500000
49925          1       0   2007            3709700             0    2000000
49926          0       0   2007            4000000             0    2500000
49927          1       0   2005           13178600             0    6500000
49929          1       0   2006           15243700             0   10000000
49930          0       0   1995           20780000             0   20780000
49931          1       0   2003            5000000             0    5000000
49932          1       0   2009            7569700             0    2500000
49935          1       0   2000           20000000             0   20000000
49937          0       1   2005           13000000             0   13000000
49938          0       0   2005            1000000             0    1000000
49940          0       0   2005           28000000             0   28000000
49941          0       0   1997           14900000             0   14900000
49944          0       0   1980           34000000             0   38000000
49948          0       0   1994           15800000             0   15800000
49951          1       0   2007            7500000             0    7500000
49953          0       0   1996           34300000             0   34300000
49956          0       0   1995           39100000             0   39100000
49961          1       0   2002           10023100             0   10000000
49963          1       0   2006           10317000             0    2500000
49967          1       0   2007             511300             0     500000
49969          0       0   1995           22500000             0   22500000
49970          0       0   2001           11000000             0   11000000
49971          0       0   1992           22000000             0   46280000
49972          0       0   2000            8000000             0    8000000
49973          1       0   2003           14000000             0    7000000
49974          0       0   1985           18800000             0   18800000
49976          0       0   1990           50000000             0   50000000
49978          0       0   2004            1000000             0    1000000
49980          0       0   2007            3500000             0    3500000
49981          1       0   2003            3926200             0    5000000
49986          0       0   1992            2000000             0    2000000
49987          0       0   1996           65600000             0   65600000
49988          1       0   2005            5131700             0    2000000
49989          1       0   2007            3152600             0    2500000
49991          0       1   1995            7000000             0    7000000
49993          0       0   1990            5400000             0    5400000
49995          1       0   2003            4623100             0    3000000
49996          0       0   2004            4975000             0    5000000
49997          0       0   1992           26000000             0   26000000

        SBA_Appv  IsFranchised
Id
0      150000000             0
1        1700000             0
2         850000             1
9        5000000             0
10       1250000             0
15       8000000             1
16       8100000         25035
17      45900000             1
20       2500000             0
21        750000             1
22       2000000             1
24       8000000             1
30      14310000             0
32       1920000             1
33       2000000             0
34       2500000             0
35      60000000             1
36       5400000             1
39       1500000             1
40       1000000             0
42       2500000             1
43       1150000             0
45      13000000             0
46      40000000             1
47       2500000             0
48       2500000             1
50       6750000             0
51       5000000             0
52       8500000             1
53       2000000             0
54       1650000             0
57        425000             0
59      11700000             0
61       8000000             1
62      12750000             1
64       5000000             0
65       2500000             1
67       3490000             0
68      49500000             0
74       2500000             0
76       2600000             1
78        750000             0
80      12160000             1
82       4000000             0
84      56423600             1
85       4250000             1
86       1750000             0
90       7125000             1
95      27200000             1
97       1250000             0
...          ...           ...
49906     500000             1
49909    7500000             1
49910   74982500             1
49912    3000000             1
49913    2500000             1
49918   22700000             0
49919   18750000             1
49920   20000000             1
49922   31700000             0
49923   20300000             1
49924    1250000             0
49925    1000000             1
49926    1250000             0
49927    3250000         17998
49929    5000000             0
49930   17663000             1
49931    2500000             1
49932    1250000             0
49935   15000000             1
49937   11050000             1
49938     500000             1
49940   21000000             1
49941   11175000             1
49944   34200000             0
49948   13272000             1
49951    3750000             0
49953   34300000             1
49956   29325000             1
49961    5000000             1
49963    1250000             0
49967     250000             0
49969   16875000             1
49970    9350000             1
49971   37949600             1
49972    6000000             1
49973    3500000             1
49974   14100000             0
49976   42500000             1
49978     500000             1
49980    1750000             0
49981    2500000             1
49986    1800000             1
49987   49200000             1
49988    1000000             0
49989    1250000             0
49991    6300000             1
49993    4860000             1
49995    1500000             1
49996    2500000             1
49997   22100000             1

[25250 rows x 15 columns]

In [12]:
y_train.values.ravel()

array([0, 0, 0, ..., 1, 1, 0])

In [32]:
import xgboost as xgb
model=xgb.XGBClassifier(random_state=2,learning_rate=0.02)

AttributeError: 'numpy.ndarray' object has no attribute 'as_matrix'

## Correlation Analysis (to be completed)

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_val.values, model.predict(X_val))

1.0

In [31]:
# now process the test data and predict
import csv

test_x = pd.read_csv(r'/Users/tuongvan.nguyen/Documents/CS5228/cs5228-2021s1/Xtest.csv',index_col='Id')
#print(test_x['ApprovalFY'])
#Clean types 
test_x[['DisbursementGross', 'BalanceGross', 'GrAppv', 'SBA_Appv']] = test_x[['DisbursementGross', 'BalanceGross', 'GrAppv', 'SBA_Appv']].applymap(lambda x: x.strip().replace('$', '').replace(',', '').replace('.', '')).astype('int64')
#test_x['ApprovalFY'] = test_x['ApprovalFY'].apply(lambda x: x.replace('A', '')).apply('int64')
test_x['Industry'] = test_x['NAICS'].astype('str').apply(lambda x: x[:2])
test_x['Industry'] = test_x['Industry'].map({
    '11': 'Ag/For/Fish/Hunt',
    '21': 'Min/Quar/Oil_Gas_ext',
    '22': 'Utilities',
    '23': 'Construction',
    '31': 'Manufacturing',
    '32': 'Manufacturing',
    '33': 'Manufacturing',
    '42': 'Wholesale_trade',
    '44': 'Retail_trade',
    '45': 'Retail_trade',
    '48': 'Trans/Ware',
    '49': 'Trans/Ware',
    '51': 'Information',
    '52': 'Finance/Insurance',
    '53': 'RE/Rental/Lease',
    '54': 'Prof/Science/Tech',
    '55': 'Mgmt_comp',
    '56': 'Admin_sup/Waste_Mgmt_Rem',
    '61': 'Educational',
    '62': 'Healthcare/Social_assist',
    '71': 'Arts/Entertain/Rec',
    '72': 'Accom/Food_serv',
    '81': 'Other_no_pub',
    '92': 'Public_Admin'
})
print(test_x['NewExist'].isna().sum())
print(test_x['UrbanRural'].isna().sum())
print(test_x['LowDoc'].isna().sum())
print(test_x['RevLineCr'].isna().sum())
print(test_x['BankState'].isna().sum())
print(test_x['State'].isna().sum())

test_x = test_x[test_x['NewExist'].isin(['0','1'])]
test_x['NewExist'] =test_x['NewExist'].astype('int64')
test_x['IsFranchised'] = test_x.FranchiseCode
test_x[test_x['IsFranchised'] <= 1].IsFranchised = 0 
test_x[test_x['IsFranchised'] > 1].IsFranchised = 1
test_x['IsFranchised'].fillna(0)
test_x = test_x[test_x['NewExist'].isin([1,2])]
test_x = test_x[test_x['UrbanRural'].isin([0,1,2])]
test_x = test_x[test_x['LowDoc'].isin(['Y','N'])]
test_x = test_x[test_x['RevLineCr'].isin(['Y','N'])]

test_x['LowDoc'] = test_x['LowDoc'].map({'Y': '1','N': '0'}).astype('int64')
test_x['RevLineCr'] = test_x['RevLineCr'].map({'Y': '1','N': '0'}).astype('int64')
test_x[['ApprovalDate', 'DisbursementDate']] = test_x[['ApprovalDate', 'DisbursementDate']].apply(pd.to_datetime)
test_x['DisFY'] = test_x['DisbursementDate'].map(lambda x: x.year).apply('int64')
test_x['ratioApproved'] = test_x['SBA_Appv'] / test_x['GrAppv']
test_x['ratioBankAmount'] = test_x['GrAppv'] / test_x['DisbursementGross']
test_x.loc[test_x['GrAppv'] > test_x['DisbursementGross'],'BalanceComp'] = 1
test_x.loc[test_x['GrAppv'] < test_x['DisbursementGross'],'BalanceComp'] = 2
test_x.loc[test_x['GrAppv'] == test_x['DisbursementGross'],'BalanceComp'] = 0
test_x.loc[test_x['BankState'] == test_x['State'],'FlagState'] = 1
test_x.loc[test_x['BankState'] != test_x['State'],'FlagState'] = 0
test_x['CreateJobPer'] = test_x['CreateJob'] / test_x['NoEmp']
test_x['RetainedJobPer'] = test_x['RetainedJob'] / test_x['NoEmp']
test_x['BalanceComp'].astype('int64')
test_x[test_x['ApprovalFY']=='1976A']=1976
df_used_no_enhanced_features_1 = test_x[['Name', 'City', 'State', 'Zip', 'Bank', 'BankState','ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob','RetainedJob', 'UrbanRural', 'RevLineCr', 'LowDoc','DisFY', 'DisbursementGross', 'BalanceGross', 'GrAppv','SBA_Appv', 'IsFranchised']]
df_used_no_enhanced_features_1.drop(['Name', 'Zip', 'City','Bank'],inplace=True,axis=1)
df_used_no_enhanced_features_1.dropna(inplace=True)
#Get categorical data
df_used_no_enhanced_features_1['BankState'] = df_used_no_enhanced_features_1['BankState'].astype('category')
df_used_no_enhanced_features_1['State'] = df_used_no_enhanced_features_1['State'].astype('category')

all_states_1 = list(set(list(df_used_no_enhanced_features_1['State'].unique())) | set(list(df_used_no_enhanced_features_1['BankState'].unique())))
#print('nulls ', df_used_no_enhanced_features['BankState'].isna().sum() + df_used_no_enhanced_features['State'].isna().sum())
all_states_id_1 = [i for i in range(len(all_states_1))]
dict_map_1 =  dict(zip(all_states_1, all_states_id_1))
#print('dict_map', dict_map)
#print('bankstateid\n', df_used_no_enhanced_features['BankState']);
#print(df_used['BankState'].map(dict_map))
#print(df_used['BankState'].map(dict_map).isna().sum())
#print(df_used['BankState'].map(dict_map).dropna())
test_x['StateId'] = test_x['State'].map(dict_map_1).dropna().astype('int64')
test_x['BankStateId'] = test_x['BankState'].map(dict_map_1).dropna().astype('int64')
test_x['BankStateId'].dropna(inplace=True)

df_used_no_enhanced_features_final_1 = df_used_no_enhanced_features_1.drop('State', axis=1)
df_used_no_enhanced_features_final_1 = df_used_no_enhanced_features_1.drop('BankState', axis=1)

X1 = df_used_no_enhanced_features_final_1.drop('State', axis=1)
print(X1['IsFranchised'].isna().sum())

print(X1.columns)
print(X.columns)
scale_1 = StandardScaler()
X_scaled_1 = scale.fit_transform(X1)
res = model.predict(X_scaled_1)
data=[['Id', 'ChargeOff']]
print(len(res))
for i, val in enumerate(res):
    data.append([i,val])

with open(r'/Users/tuongvan.nguyen/Documents/CS5228/cs5228-2021s1/output.csv', 'w') as csvfile:
    csvwriter = csv.writer(csvfile)
    for row in data:
        csvwriter.writerow(row)
#print(model.predict(X_scaled_1))

/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

14
0
463
341
112
4

/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tuongvan.nguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
Index(['ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob',
       'UrbanRural', 'RevLineCr', 'LowDoc', 'DisFY', 'DisbursementGross',
       'BalanceGross', 'GrAppv', 'SBA_Appv', 'IsFranchised'],
      dtype='object')
Index(['ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob',
       'UrbanRural', 'RevLineCr', 'LowDoc', 'DisFY', 'DisbursementGross',
       'BalanceGross', 'GrAppv', 'SBA_Appv', 'IsFranchised'],
      dtype='object')
50297

In [ ]:
df_correlation  = df_used.dropna()
df_correlation

In [ ]:
# Correlation Matrix

cor_fig, cor_ax = plt.subplots(figsize=(15, 10))
corr_matrix = df_correlation.corr()
cor_ax = sns.heatmap(corr_matrix, annot=True)
plt.xticks(rotation=30, horizontalalignment='right', fontsize=8)
plt.yticks(fontsize=8)
plt.show()

In [ ]:
#Nan values cleanings 
#We will not use these fields:

df_copy.drop(subset=['Name','City','Bank', 'BankState', 'ApprovalDate','Term', 'LowDoc', 'DisbursementDate', 'MIS_Status'], inplace=True)
df_used.isnull().sum()

In [ ]:

df_copy.isnull().sum()